body {
    font-family: "Open Sans", sans-serif;
    background-color: #bbbddb;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color:#3046c5
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#CEC8FF, rgb(214, 205, 205));
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #5a66a9, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.row-content {
    padding:50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
 }
 .navbar-dark {
    background-color: #1f1885;
 }
.carousel-caption {
    background-color: rgba(0, 0, 0, .5);
}
.carousel {
    border: box-shadow;
}